/TextTools-code/dist/
/TextTools-code/Functions/
/TextTools-code/build/
/.idea/
/TextTools-code/favicon.ico
/TextTools-code/Interface.spec
/.venv/

Interface.build
# Interface.dist
Interface.onefile-build
Interface.exe
TextTools.exe