/TextTools-code/dist/
/TextTools-code/Functions/
/TextTools-code/build/
/.idea/
/TextTools-code/favicon.ico
/TextTools-code/Interface.spec
/.venv/

TextTools-code/Interface.build
TextTools-code/Interface.dist
TextTools-code/Interface.onefile-build
Interface.exe
TextTools.exe